/*.row-fluid {
  visibility: visible;
}*/

img {
  height:400px;
  width: 267px;

}

h3, h2, h4 {

  text-align: center;
}

.centerPicture {
  text-align: center;
}

.musicPlayer{
  height:100px;
}
.contactPicture {
  display: block;
    margin-left: auto;
    margin-right: auto;
    height:200px; 
    width:200px;}
}