body {
  background-color: black;
}

h1 {font-family: 'Oswald', white, sans-serif;}

#jumbotron {
   
   font-size: 30px;
  text-align: center;}

#who { 
 

  font-family:'Montserrat', sans-serif;

  text-align: center; 
  font-size: 40px; 
  color:black;
}

p span {background-color:gray;
  border:1px red solid; 
  border-radius:40px;
padding:5px 120px 5px 120px;
}

h2, form{color:red;}


p, li {color:red;}




.w {background-color: white;
}


  div {text-align: center;}

