body {
  background-color: red;
}

h1 {font-family: 'Oswald', sans-serif;}

#jumbotron {font-size: 50px;}

#who {background-color: blue; 
  font-family:Verdana; 
  text-align:center; 
  border:1px black solid; 
  border-radius:40px; 
  font-size:40px; 
  color:white;
}

#work {font-size: 1.5em;

}

.w {background-color: white;}

.orange_link {
	color: orange;
}

