body {
  background-color: black;
}

h1 {font-family: 'Oswald', white, sans-serif;}

#jumbotron {font-size: 50px;
  text-align: center;}

#who { 
  font-family:Verdana, red; 
  text-align:center; 
  font-size:40px; 
  color:white;
  background-color: blue;
 border:1px red solid; 
  border-radius:40px;
}

h2, form{color:red;}


p, li {color:red;}
#work {font-size: 1.5em;

}

.w {background-color: white;
}


  div {text-align: center;}

