.fa {
  font-size:90px;
  opacity: 0.3;
}

.playerTurn, .computerTurn, .playerVictory, .computerVictory, .playerTie {
  opacity: 0.3;
}
.screen {
  border:4px black solid;
  background-color: gray;
}

body{
  text-align: center;
}

.btn-circle {
  width: 100px;
  height: 100px;
  padding: 30px 5px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 65px;
  left-margin:100px;
}

.control {
  background-color:white;
}
.control-btn{
 border-radius:23px;
padding-left: 80px;
padding-right:80px;
margin-bottom: 20px;
}
